language: go
go:
  - 1.6

install: true
script: "./bin/package.sh"

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: SCKcDztI+gN+/jpv5q9GS0IKVKgxCi0BKLpjkGxYTo68qBu4xpo201ZXy7LJOZ1ABuKnutbjVNGM3aHi5AjFngLW1fQemAIzbMDhsZJc7n8Te8FlnWqY2PAdnPHAXcPN8hehObgN3TwNvvOklTZOJHvyauqaJQk3Aez5a3Jcrttkb92fZgWioSQt/moz4FLEwusJJcwSSsLvgVNwxihq4X9/cHCQooWvFUTokuKkxpN+HnI2LaK79HGH3niwDN0bxiiX876cwbO89W2O/r+EBGCHE2t1SBjoYGRMPX+Qgmepba5JkAEcxqdedCQhnAxZvMbFtCgVOf++jFtuU4nYJD9Rmtb08/hrHXu8fKB/xEOkPA0V6RXdtRANzFaEQlas2OYAxzhefaI5Saz2ocxQmXZFSpR7B9mu7fMsD9huVtc+PJF9yxrXkTveEvCB4tZlemY+M8VgOYCVYDoJ3GFIb86q61fm9jx3bZBvEURyk2NSNPO4HDQBWt2xkdRAHv5R12QaPZ0TzwzGg1GOWkMGI9j3EOQ/WFqMlZYD5pe7atfZ8d+I6dVQR1bhRPmwNJFvUmnANCUnyziULJV+hKKj+qjxtDYvCoyS4USJw3B6s5A8vb6fLZNNXvnMdcIiz1KYRx9tqIse8rK7CYHjqDl6IwttFh4sfcRR0AQdhS6lL0E=
  file:
    - bin/docker-machine-driver-ovh-darwin-amd64
    - bin/docker-machine-driver-ovh-linux-amd64
    - bin/docker-machine-driver-ovh-windows-amd64
  on:
    repo: joaocc/yadutaf--docker-machine-driver-ovh
    branch: master
    tags: true

